html {
  scroll-behavior: smooth;
  background: linear-gradient(
    90deg,
    rgba(189, 89, 255, 1) 0%,
    rgba(240, 105, 255, 1) 31%,
    rgb(255, 185, 208) 88%
  );
  background: rgb(245, 216, 245);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section3 {
  background-color: rgba(180, 77, 227, 1);
  height: 20px;
  margin-bottom: 15px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.menu {
  width: 100%;
  background: rgb(23, 14, 32);
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 1rem;
}

.menu-img {
  max-width: 6vw;
  min-width: 40px;
  height: auto;
}

.menu-item {
  color: rgb(245, 216, 245);
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  padding: 0.5vw 1vw;
  border-radius: 100px;
  text-decoration: none;
}
.menu-item-special {
  color: rgb(245, 216, 245);

  padding: 0.5vw 1vw;
  border-radius: 100px;
  background: rgb(180, 77, 227, 1);
}

.menu-item:hover {
  color: rgb(23, 14, 32);
  background-color: rgb(245, 216, 245);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(23, 14, 32);
  padding: 3vh 6vw;
  width: 100%;
}

.header img {
  max-width: 17vw;
  min-width: 150px;
  height: auto;
  margin-bottom: 1.5vh;
}

.section1 {
  max-width: 700px;
}

.section1 h1 {
  color: rgb(245, 216, 245);
  font-size: clamp(1.4rem, 2.5vw, 4rem);
  margin-bottom: 1vh;
}

.section1 p {
  color: rgb(245, 216, 245);
  line-height: 1.4;
}

.container {
  background: rgb(245, 216, 245);
  border-radius: 2vw;
  width: 67vw;
  min-width: 64vh;
  margin: 5vh auto;
  padding: 4vh 4vw;
}

.flex-box1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2vw;
  padding: 10px;
  margin-bottom: 2.5vw;
}

.flex-box1 img {
  height: auto;
  max-width: 14vw;
  min-width: 12vh;
  border-radius: 3vw;
}

.section {
  margin-bottom: 0.5rem;
}

h2 {
  scroll-margin-top: 6vw;
  font-size: clamp(1rem, 2vw, 1.8rem);
  color: rgba(180, 77, 227, 1);
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  margin-bottom: 1rem;
}

ol,
ul {
  font-size: clamp(0.8rem, 1.6vw, 1.1rem);
  line-height: 1.5;
  padding-left: 1.1rem;
}

p {
  font-size: clamp(0.8rem, 1.6vw, 1.1rem);
  color: #000;
  line-height: 1.5;
}

p a {
  font-size: clamp(0.8rem, 1.5vw, 1.1rem);
  text-decoration: none;
  color: rgba(180, 77, 227, 1);
  font-weight: bold;
}

.flex-box2 {
  background: rgb(16, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px 10px;
  flex-wrap: wrap;
}

.flex-box2 img {
  max-height: 30vh;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  padding: 10px;
  margin-bottom: 2.2vw;
}
.flex-box img {
  max-width: 5vw;
  min-width: 4vh;
  border-radius: 3vw;
}
