html {
  scroll-behavior: smooth;
  background: rgb(255, 227, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.menu {
  z-index: 1000;
  width: 100%;
  background: rgb(23, 14, 32);
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 1rem;
}

.menu-img {
  max-width: 6vw;
  min-width: 40px;
  height: auto;
}

.menu-item {
  color: rgb(255, 227, 255);
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  padding: 0.5vw 1vw;
  border-radius: 100px;
  text-decoration: none;
}
.menu-item-special {
  color: rgb(255, 227, 255);

  padding: 0.5vw 1vw;
  border-radius: 100px;
  background: rgb(180, 77, 227, 1);
}

.menu-item:hover {
  color: rgb(23, 14, 32);
  background-color: rgb(255, 227, 255);
}

h1 {
  scroll-margin-top: 6vw;
  font-size: clamp(2rem, 4vw, 7rem);
  color: rgba(180, 77, 227, 1);
  margin-bottom: 2vw;
}

.header {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 5vw;
  background: rgb(23, 14, 32);
}

.header-img-special {
  position: absolute;
  z-index: 2;
  top: 19%;
  left: 10%;
  width: 43%;
  height: auto;
}

.header-img-main {
  position: relative;
  margin-left: auto;
  width: 35%;
  height: auto;
}

.container {
  max-width: 80vw;
  min-width: 60vh;
  margin: auto;
  padding: 4vh 4vw;
}

.section {
  margin-bottom: 2rem;
  max-width: 40vw;
}

.flex-box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  padding: 10px;
  margin-bottom: 8vw;
}

.flex-box1 img {
  max-height: 20vw;
  max-width: 30vw;
  border-radius: 3vw;
}

ol,
ul {
  font-size: clamp(0.9rem, 1.7vw, 1.3rem);
  line-height: 1.5;
  padding-left: 1.1rem;
}

p {
  font-size: clamp(0.9rem, 1.7vw, 1.3rem);
  color: #000;
  line-height: 1.5;
}

p a {
  font-size: clamp(0.9rem, 1.7vw, 1.3rem);
  text-decoration: none;
  color: rgba(180, 77, 227, 1);
  font-weight: bold;
}

.flex-box2 {
  background: rgb(16, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px 10px;
  flex-wrap: wrap;
  margin-bottom: 3vw;
}

.flex-box2 img {
  max-height: 30vh;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  padding: 3vw;
  margin-bottom: 2.2vw;
}
.flex-box img {
  max-width: 7vw;
  border-radius: 100vw;
}
